@tailwind base;
@tailwind components;
@tailwind utilities;

@layer  base{
  html {
    @apply scroll-smooth overflow-x-hidden overscroll-contain m-0 p-0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
  }

  *, *::before, *::after {
    @apply m-0 p-0 box-border no-underline 
  }

  body {
    @apply m-0 p-0 bg-white
  }

  img {
    @apply w-full h-full object-cover object-center cursor-pointer
  }

  p {
    @apply text-base p-px my-0.5 sm:text-balance
  }

  [type='search'] {
    @apply bg-stone-200 max-w-full shadow-inner focus:shadow-slate-400/60 tracking-wide
    focus:outline-none border-2 border-solid border-[#57068c] focus:ring-0 caret-stone-900 rounded-full py-2 pr-24 pl-8 font-medium
  }
}


@layer utilities{
  .mainColor {
    @apply bg-[#57068c];
  }
}